			<div class="m-1">					
			<!-- Main Tabs -->
			<div class="d-flex flex-column mb-2" >
				<span class="fa fa-3x fa-repeat mx-auto" id="refresh"></span>
				<small class="mx-auto">Refresh</small>
			</div>
					 <!-- Main Tabs -->
						 <nav class="">
						 	<div class="nav nav-tabs d-flex" id="nav-tab" role="tablist">
						 		<!-- View Performance Tab link -->
						 		<a class="nav-item nav-link ml-auto" id="nav-view-performance-tab" data-toggle="tab" href="#nav-view-performance" role="tab" aria-controls="nav-view-performance" aria-selected="true">
						 			View Performance
						 			</a>
						 			<!-- Edit Performance Tab link -->
						  <a class="nav-item nav-link mr-auto" id="nav-edit-performance-tab" data-toggle="tab" href="#nav-edit-performance" role="tab" aria-controls="nav-edit<-performance" aria-selected="false">
						  	Edit Performance
						  	</a>
						  </div>
						   </nav>
						   <!-- End of nav --
						   <!-- Tab Body -->
						   <div class="tab-content" id="nav-tabContent">
						   	
						   	<!-- View performance  tab body-->
						  	 <div class="tab-pane fade" id="nav-view-performance" role="tabpanel" aria-labelledby="nav-view-performance-tab">
						  	 	<!-- View performance tab body  accotdion -->
						  	 	<div class="accordion" id="main-accordion">
						  	 		<!-- Performance List -->
						  	 	<div class="list-group spaced-list" id="performance-list">
						  	 <!-- First list item -->
						  	 	{% for info in all_Info %}
						  	 			<a data-toggle="collapse" href="#student_performance{{info.pk}}" class="list-group-item list-group-item-action d-flex "  role="button">
						  	 				<h6  class="vcenter">
						  	 					{{info.name}}
						  	 					</h6>
						  	 					<span class="fa fa-angle-down ml-auto vcenter">
						  	 					</span>
						  	 		</a>
						  	 		 
						  	 		<div class="collapse" id="student_performance{{info.pk}}" data-parent="#main-accordion">
						  	 			
						  	 			<!-- Performance Table -->
						<table class="table table-striped table-bordered performance-table table-responsive" >
							<thead >
								<th>Subject</th>
								<th>Test Score</th>
								<th>Exam Score</th>
								<th>Total Score</th>
								<th>Comment</th>
							</thead>
							<tbody >
							{% for performance in info.performance_set.all %}
								<tr>
									<td>{{performance.subject}}</td>
									<td>{{performance.test}}</td>
									<td>{{performance.exam}}</td>
									<td>{{performance.total}}</td>
									<td>{{performance.comment}}</td>
								</tr>			
								{% endfor %}		
							</tbody>				
						</table>
						
							
						  	 			  	 		</div>  	 	
						  	 			  	 		<!-- End of view performance tab body-->
						  	 			 {% endfor %}	 	
						  	 	 </div>
						  	 	 
						  	 	</div>			
						  	 				  	 	<!-- pagination -->
						 
						<nav aria-label="Performance pagination">
							<ul class="pagination justify-content-center text-primary performance-pagination">
								
								{% for page_no in all_Info.paginator.page_range %}
							<li class="page-item mx-1" data-page="{{page_no}}" ><a class="page-link" >{{page_no}}</a></li> 
							{% endfor %}
						</ul>
					</nav>						  	 				  	 	
						  	 </div>						  	 						  	 
						  	 <!-- Edit performance tab -->
						  	 <div class="tab-pane fade" id="nav-edit-performance" role="tabpanel" aria-labelledby="nav-edit-performance-tab">
						  	<!-- List group and Accordion for performance -->
						  	 	<div class="list-group spaced-list accordion" id="editPerformanceAccordion"> 
						  	 	<!-- First List item -->
						  	 	{% for info in all_Info %}
						  	 	<a class="list-group-item list-group-item-action d-flex">{{info.name}}
						  	 	<span class="ml-auto">
						  	 		<span class="fa fa-minus-circle mr-3" style="color:red;" data-toggle="collapse" data-target="#delete-performance{{info.id}}">					  	 			
						  	 		</span>
						  	 		<span class="fa fa-plus-circle" style="color:green;" data-toggle="collapse" data-target="#add-performance-form{{info.pk}}"></span>					
						  	 		</span>
						  	 	</a>
						  	 	<!-- Collapsed container for add performance -->
						  	 	<!-- add performance container and form -->
						  	 	<div class="collapse" id="add-performance-form{{info.pk}}" data-parent="#editPerformanceAccordion">
						  	 		<form class="border border-dark add-performance-form" method="post" action="{% url 'students:performance_update' info.id %}">
						  	 			{% csrf_token %}
						  	 				<input class="form-control w-75 mt-2 ml-2" type="hidden" name="name" value="{{info.name}}">
						  	 				<label class="vcenter mt-3 ml-2" >Enter Subject : 
						  	 				</label>
						  	 				<input class="form-control w-75 mt-2 ml-2" type="text" name="subject">
						  	 		<div class="form-row ml-1 mr-1">					  	 		
						  	 			<div class="col-5">
						  	 				<label>Enter Test Score</label>
						  	 		<input class="form-control w-50 test-score" type="number" name="test" data-name="{{info}}">
						  	 			</div>
						  	 			<div class="col-5" >
						  	 					<label class="text-nowrap">Enter Exam Score </label>
						  	 			<input class="form-control w-50 exam-score" type="number" name="exam" data-name="{{info}}">
						  	 			</div>
						  	 			<div class="col-2 d-flex flex-column">
						  	 				<strong >
						  	 					Total
						  	 					</strong>
						  	 				<span class="fa fa-arrow-down mx-auto" >						  	 					
						  	 				</span>
						  	 				<strong class="mx-auto" id="totalScore">
						  	 					--
						  	 				</strong>
						  	 			</div>
						  	 			<div class="col-12">
						  	 					<label>
						  	 						Enter Comment
						  	 						</label>
						  	 				<input class="form-control mb-3" type="text" name="comment">
						  	 			</div>					  	 			
						  	 					
						  	 		</div>
						  	 		<input class="btn btn-success btn-block mb-3" type="submit" >
						  	 <div class="m-2" id="form-status"></div>
						  	 	</form> 
						  	 
						  	 	</div>
						  	 	
						  	 	<!-- End of add performance container and form -->
						  	 	<!-- End of form collapse -->
						  	 	<!-- Delete performance collapsed container -->
						  	 	
						  	 	<!-- Delete performance tab -->
						  	 	
						  	 	<div class="collapse" id="delete-performance{{info.id}}" data-parent="#editPerformanceAccordion">
						  	 		<!-- Subject list -->
						  	 		<ul class="list-group "> 
						  	 		
						  	 		<li class="list-group-item d-flex">
						  	 			<strong class="w-50">
						  	 				Subject
						  	 				</strong>
						  	 		<strong class="w-25">
						  	 			Total
						  	 			</strong>
						  	 		</li> 
						  	 		{% for performance in info.performance_set.all %}
						  	 		<li class="list-group-item d-flex">
						  	 			<span style="display:none;">
						  	 				{{performance.pk}}
						  	 			</span>
						  	
						  	 			<strong class="w-50">
						  	 				{{performance.subject}}
						  	 				</strong>
						  	 		<strong class="w-25">
						  	 			{{performance.total}}
						  	 			</strong>
						  	 			<button class="btn btn-danger ml-auto deleteBtn" type="button" data-toggle="modal" data-target="#deleteModal" >
						  	 				Delete
						  	 				</button>
						  	 				</li> 
						  	 		{% endfor %}
						  	 		  </ul>					  	 		
						  	 		  <!-- Subject List end -->
						  	 	</div>
						  	 	{% endfor %}
						  	 	  <!-- End of collapsed container for delete performance -->		
						  	 	  	  	 					 	 
						  	  	<!-- End of List group and accordion -->			  							  	  							  	  	
						  	 </div>
						  	
						  		<!-- pagination -->
						 
						<nav aria-label="Performance pagination">
							<ul class="pagination justify-content-center text-primary performance-edit-pagination">
								
								{% for page_no in all_Info.paginator.page_range %}
							<li class="page-item mx-1" data-page="{{page_no}}" ><a class="page-link" >{{page_no}}</a></li> 
							{% endfor %}
						</ul>
					</nav>						  	 		
						  	
						  	
						  	
						  	   <!-- End of edit Performance tab -->
						  	  
						  	 </div>
			</div>
		
						  	 	<!-- Beginning of delete modal -->										  	
						  	 	<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true"> 
						  	 	<div class="modal-dialog modal-dialog-centered " role="document"> 
						  	 	<div class="modal-content border border-danger">
						  	 		 <div class="modal-header bg-danger text-light">
						  	 		 <h5 class="modal-title" id="deleteModalTitle">Delete Performance</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true" style="color:white;">&times;</span>
						  	 		  </button> 
						  	 		  </div> 
						  	 		  <div class="modal-body" style="background:#EB6666; color:white;" id="deleteModalContent">Are you sure. You want to delete this performance : <p id="modalsubject"></p></div> 
						  	 		  <div class="modal-footer flex-column"> 
						  	 		  <div class="d-flex ml-auto">
						  	 		  	<button type="button" class="btn btn-secondary mr-3" data-dismiss="modal">No</button> 
						  	 		  
						  	 		  	<button id="deleteButton" class="btn btn-danger" type="button">yes</button>
						  	 		  </div>
						  	 		  <div id="status" class="mt-2"></div>
						  	 		
						  	 		  </div> 
						  	 		  </div>
						  	 		   </div> 
						  	 		  </div>			  
						  	 	<!--End of delete modal -->
			 <script >
	{% if type == "view-performance" %}
	$("#nav-view-performance-tab").addClass("active");
	$("#nav-view-performance").addClass("show active");
	
	{% elif type == "edit-performance" %}
	$("#nav-edit-performance-tab").addClass("active");
	$("#nav-edit-performance").addClass("show active");
	{% endif%}	
	
	
	$('.list-group-item').click(function(){
		$('.loadMorebtn').children("span").removeClass("fa-spin");
	});
	$('.loadMorebtn').click(function(){
			$('.loadMorebtn').children("span").addClass("fa-spin");
	});
	$('.deleteBtn').click(function(){
		var pk = parseInt($(this).prev().prev().prev().text());
		$("#modalsubject").text($(this).prev().prev().text()+" "+ $(this).prev().text());
		$("#deleteButton").click(function(){
		var status = $("#status");
		status.html("Deleting.....");
			$.ajax({
		url:"{% url 'students:delete' %}",
		type:"POST",
		data:{
			csrfmiddlewaretoken:"{{csrf_token}}",
			pk:pk,
		},
		success:function(data){
			 status.html('<div class="alert alert-danger alert-dismissible fade show" role="alert"> <strong>Success..</strong>'+data+'<button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button> </div>');
		},
		error :function(data){
		 status.html('<div class="alert alert-danger alert-dismissible fade show" role="alert"> <strong>Failed..</strong>Something went wrong. Form was not submitted <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button> </div>');

		},
	});
		});
	});
	
	$("#refresh").click(function(){
		$(this).addClass("fa-spin");
		
		var view_performance = document.getElementById("nav-view-performance-tab");
	 var url = null;
	 if(view_performance.classList.contains("active")){
	 	url = "{% url 'students:performance_page' 'view-performance' %}";
	 }else{
	 	url = "{% url 'students:performance_page' 'edit-performance' %}";
	 }
		
	$.ajax({
		url:url,
		type:"GET",
		success:function(data){
			//main.innerHTML=data;
			$("#main").html(data);
		},
		error:function(data){
			$("#main").html(write_alert("Something went wrong. Please try again."));
		},
	});
		
	});
	
	
	
	//Calculates total.
		$(".test-score").keyup(function(){
		var parent = $(this).parent().next().next().find("strong");
		totalScore = $(parent[1]);
		testScoreVal = $(this).val();
		name = $(this).attr("data-name");
		if(name==examname){			
		}else{
			examname=name;
			testname=name;		
			var examscore = $(this).parent().next().find("input");			 
			if(Number.isNaN(examscore[0].value)){
		examScoreVal=0;
	}else{
		examScoreVal = parseInt(examscore[0].value);
	}
		}
		calculateTotal();
	});
		$(".exam-score").keyup(function(){
		var parent = $(this).parent().next().find("strong");
		totalScore = $(parent[1]);
		examScoreVal = $(this).val();
		name = $(this).attr("data-name");
		if(name==testname){
		}else{
			testname=name;
			examname=name;
			var testscore = $(this).parent().prev().find("input");			 
			if(Number.isNaN(testscore[0].value)){
		testScoreVal=0;
	}else{
		testScoreVal = parseInt(testscore[0].value);
	}
		}
		calculateTotal();
	});
	var totalScore;
	var testScoreVal = 0;
	var examScoreVal = 0;
	var testname = "";
	var examname = "";
	function calculateTotal(){
	
	testScore=parseInt(testScoreVal);
	examScore=parseInt(examScoreVal);
	if(Number.isNaN(testScore)){
		testScore=0;
	}
	if(Number.isNaN(examScore)){
		examScore=0;
		
	}	
	totalScore.html(testScore+examScore);
	
	}
	
	//Pagination
	$(".performance-pagination .page-item").click(function(){
		var body = 	$("#performance-list");
		var page_no = $(this).attr("data-page");
		body.html('<div class="mx-auto progressBar"></div>');
		$.ajax({
			url : "{% url 'students:performance_page' 'view-performance' %}",
			data : {
				page:page_no,
			},
			success : function(data){
			body.html(data);
			},
			error : function(req,status,error){
				alert(error);
			},
		});
		
	});
		//Pagination
	$(".performance-edit-pagination .page-item").click(function(){
		var body = 	$("#editPerformanceAccordion");
		var page_no = $(this).attr("data-page");
		body.html('<div class="mx-auto progressBar"></div>');
		$.ajax({
			url : "{% url 'students:performance_page' 'edit-performance' %}",
			data : {
				page:page_no,
			},
			success : function(data){
				alert(data);
			body.html(data);
			},
			error : function(req,status,error){
				alert(error);
			},
		});
		
	});
	
</script>
