{% load static %}
<div class="container my-3 mx-auto" style="max-width:400px;">

	<div class="d-flex flex-column mb-2" hx-get="{% url 'students:edit_students' %}" hx-target="#main">
		<span class="fa fa-3x fa-repeat mx-auto" id="refresh"></span>
		<small class="mx-auto">Refresh</small>
	</div>

	<ul class="list-group" x-data="{ current_student_pk : 0 }">
		<!-- First list item shows column header -->
		<li class="list-group-item d-flex">
			<h6 class="w-25">No</h6>
			<h6 class="w-75">Name</h6>
		</li>
		<!-- Actual first list item -->
		{% if all_students.exists %}
		{% for student in all_students %}
		<li class="list-group-item d-flex flex-column" style="border-bottom:2px ridge #53375A;">
			<div class="w-100 d-flex">
				<h6 class="my-auto w-25">{{forloop.counter}}</h6>
				<h6 class="my-auto w-75">{{student.name}}</h6>

			</div>
			<div class="w-75 mx-auto d-flex mt-3">
				<button class="update-btn genric-btn primary radius mr-auto" data-toggle="modal"
					data-target="#updateModal" hx-get="{% url 'students:update_student' student.pk %}"
					hx-target="#updatebody">Update</button>
				<button @click="current_student_pk = '{{student.pk}}'"
					class="delete-btn genric-btn danger radius ml-auto">Delete</button>
			</div>
		</li>
		{% endfor %}
		{% else %}
		<li class="list-group-item" style="border-bottom:2px ridge #53375A;">
			<h5 class="text-center text-danger">No student in this class</h5>
		</li>
		{% endif %}

		<input id="current-student" type="hidden" :value="current_student_pk">
	</ul>

</div>

<!-- Beginning of update modal -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModal" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered " role="document">
		<div class="modal-content border border-primary">
			<div class="modal-header bg-info text-light">
				<h5 class="modal-title text-white" id="updateModalTitle">Update Student</h5> <button type="button"
					class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true"
						style="color:white;">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="updatebody">

			</div>
		</div>
	</div>
</div>
<!--End of delete modal -->


<script>


	document.querySelectorAll(".delete-btn").forEach((elem) => {
		elem.onclick = function () {
			let id = document.querySelector("#current-student").value;
			console.log(id);
			Swal.queue([{
				icon: "error",
				preConfirm: function () {
					let data = { csrfmiddlewaretoken: "{{csrf_token}}", pk: id };

					return htmx.ajax("POST", "{% url 'students:edit_students' %}", {
						target: "#none", values: data, handler: (elt, res) => {
							if (res.xhr.status === 200) {
								Swal.insertQueueStep({
									icon: "success",
									title: "Student deleted successfully"
								});
								elem.textContent = "Deleted";
								elem.disabled = true;
							} else {
								Swal.showValidationMessage("Something went wrong. Please try again.");
								Swal.hideLoading();
							}
						}
					});
				},
				confirmButtonText: 'Yes',
				confirmButtonColor: '#d33',
				showCloseButton: true,
				showCancelButton: true,
				title: "Confirm Student Delete.",
				html: "<b class='text-danger mb-2'> Are you sure you want to delete this student.</b>",
				showLoaderOnConfirm: true,
			}]);
		}
	});

	
</script>