{% load static %}

<div class="my-1 mx-auto w-100" style="max-width:400px;">
	<!-- Main Tabs -->
	<div class="d-flex flex-column">
		<button class="genric-btn primary radius mx-auto my-3" data-toggle="collapse" data-target="#importContainer"
			aria-expanded="false" aria-controls="importContainer">Import</button>
		<div class="collapse mb-3" id="importContainer">
			<form class="card card-body" hx-encoding="multipart/form-data" hx-post="{% url 'students:csv_handler' %}" hx-target="#csv-status">
				{% csrf_token %}
				<a class="text-center" href="{% url 'students:csv_handler' %}">Download csv template</a>
				<div class="mx-auto d-flex">
					<div class="custom-file mr-1"> <input type="file" class="custom-file-input"
							name="csv_file" id="csv_file"
							onchange="(check_file(this) ? this.nextElementSibling.innerHTML = 'File selected' : this.nextElementSibling.innerHTML = 'Choose file')">
						<label class="custom-file-label" for="csv_file" id="file-label">Choose
							csv file</label> </div>
					<select name="student_pk" class="custom-select ml-1" id="file-student-select">
						<option disabled selected>Select student</option>
						{% for student in students %}
						<option value="{{student.pk}}">{{student.name}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="mt-3" id="csv-status"></div>
				<button class="genric-btn info radius mt-2 mx-auto" id="upload-csv"> Upload</button>

			</form>
		</div>
	</div>

	<div class="d-flex flex-column mb-2" hx-get="{% url 'students:performance_page' type %}" hx-target="#main">
		<span class="fa fa-3x fa-repeat mx-auto" id="refresh"></span>
		<small class="mx-auto">Refresh</small>
	</div>
	<div class="d-flex flex-column">
		<div class="d-flex mx-2">
			<h6 class="w-50 ml-3">Year</h6>
			<h6 class="w-50">Term</h6>
		</div>
		<div class="d-flex my-2 mx-3" x-data="{year: '{{current_term.year}}', term: '{{current_term.term}}'}">

			<select class="form-control" x-model="year" name="year" id="year" style="min-width: 100px;">
				{% for term in terms %}
				{% ifchanged %}
				<option value="{{term.year}}" {% if current_term.year == term.year %}selected{% endif %}>{{term.session}}
				</option>
				{% endifchanged %}
				{% endfor %}
			</select>

			<select class="ml-3 form-control" x-model="term" name="term" id="term">

				<option {% if current_term.term == "1st Term" %}selected{% endif %}>1st Term</option>
				<option {% if current_term.term == "2nd Term" %}selected{% endif %}>2nd Term</option>
				<option {% if current_term.term == "3rd Term" %}selected{% endif %}>3rd Term</option>
			</select>
			<button hx-get="{% url 'students:performance_page' 'view-performance' %}" hx-target="#performance-list" :hx-vals='`{ "term": "${term}" , "year" : "${year}", "page": 1 }`' class=" ml-2 btn btn-dark " id="fetch-termly-performance"><span
					class="fa fa-repeat" ></span></button>
		</div>

	</div>
	<!-- Main Tabs -->
	<nav class="">
		<div class="nav nav-tabs d-flex" id="nav-tab" role="tablist">
			<!-- View Performance Tab link -->
			<a class="nav-item nav-link ml-auto" id="nav-view-performance-tab" data-toggle="tab"
				href="#nav-view-performance" role="tab" aria-controls="nav-view-performance" aria-selected="true">
				View Performance
			</a>
			<!-- Edit Performance Tab link -->
			<a class="nav-item nav-link mr-auto" id="nav-edit-performance-tab" data-toggle="tab"
				href="#nav-edit-performance" role="tab" aria-controls="nav-edit-performance" aria-selected="false">
				Edit Performance
			</a>
		</div>
	</nav>
	<!-- End of nav -->
	<!-- Tab Body -->
	<div class="tab-content" id="nav-tabContent">

		<!-- View performance  tab body-->
		<div class="tab-pane fade" id="nav-view-performance" role="tabpanel" aria-labelledby="nav-view-performance-tab">
			<!-- View performance tab body  accordion -->
			<div class="accordion" id="main-accordion">
				<!-- Performance List -->
				<div class="list-group spaced-list pt-3" id="performance-list">
					<!-- performance list body -->
				</div>
				<!-- end of list group -->
			</div>
			<!-- End of accordion -->
		</div>
		<!-- End of view performance tab -->



		<!-- Edit performance tab -->
		<div class="tab-pane fade" id="nav-edit-performance" role="tabpanel" aria-labelledby="nav-edit-performance-tab">
			<!-- List group and Accordion for performance -->
			<div class="list-group spaced-list accordion pt-3" id="editPerformanceAccordion">
				<!-- Edit performance body -->

			</div>
			<!-- End of List group and accordion -->

		</div>
		<!-- End of edit Performance tab -->

	</div>

	{% if type == "view-performance" %}
	<script>
		document.querySelector("#nav-view-performance-tab").classList.add("active");
		document.querySelector("#nav-view-performance").classList.add("show");
		document.querySelector("#nav-view-performance").classList.add("active");
	</script>


	{% elif type == "edit-performance" %}
	<script>
		document.querySelector("#nav-edit-performance-tab").classList.add("active");
		document.querySelector("#nav-edit-performance").classList.add("show");
		document.querySelector("#nav-edit-performance").classList.add("active");
	</script>

	{% endif %}

	<script>

		$(function () {
			htmx.ajax('GET', "{% url 'students:performance_page' 'view-performance' %}", {target:'#performance-list', values: {
					page: 1,
					year: $("#year").val(),
					term: $("#term").val(),
				}});

			htmx.ajax('GET', "{% url 'students:performance_page' 'edit-performance' %}", {target:'#editPerformanceAccordion', values: {
					page: 1,
				}});
			
		});
	
		</script>