{% load static %}
<!-- Profile page -->
<!-- To be used with modal -->
<div id="profile" >
	<!-- Profile picture -->
	<img class="rounded" src="{{student.photo.url}}" alt="" style="max-width:50%; max-height:50%; float:right;"
>
	{% if request.user.level == "Teacher" %}
	<div class="form-group w-50 border p-2 mr-1">
		<label for="customFile">Photo</label>
		<div class="custom-file"> <input type="file" name="photo" accept="image/*" class="custom-file-input"
				id="student-photo" onchange="document.getElementById('file-label').innerHTML='Selected';" hx-post="{% url 'students:handle_uploads' %}" hx-target="#upload-status" hx-trigger="change" hx-encoding="multipart/form-data" :hx-vals='`js:{ "csrfmiddlewaretoken" : "{{csrf_token}}" , "pk" : "{{student.pk}}" , "photo" : document.getElementById("student-photo").files[0] }`'> <label
				class="custom-file-label" for="customFile" id="file-label">Choose file</label> </div>
		<small class="text-success" id="upload-status"></small>
	</div>
	{% endif %}
	<!--List of user details. -->
	<ul>
		<li>
			<h6><u class="text-dark">Full Name</u></h6>
			<b>{{student.name}}</b>
		</li>
		<li>
			<h6><u class="text-dark">Date Of Birth</u></h6>
			<b>{{student.date_of_birth}}</b>
		</li>
		<li>
			<h6><u class="text-dark">Age</u></h6>
			<b >{{student.age}}</b>
		</li>
		<li>
			<h6><u class="text-dark">Class</u></h6>
			<b>{{student.Class.class_name}}</b>
		</li>
		<li>
			<h6><u class="text-dark">Home Address</u></h6>
			<b>{{student.address}}</b>
		</li>
		<li>
			<h6><u class="text-dark">Sex</u></h6>
			<b>{{student.sex}}</b>
		</li>
		<li>
			<h6><u class="text-dark">State of origin</u></h6>
			<b>{{student.state_of_origin}}</b>
		</li>
		<li>
			<h3 class="text-center"><u class="text-dark mt-2">Parents</u></h3>
			<table class="table table-bordered">
				<thead class="thead-dark">
					<th>
						Name
					</th>
					<th>
						Username
					</th>
					<th>.</th>
				</thead>
				<tbody>
					{% for parent in student.parents.all %}
					<tr>
						<td>
							{{parent.full_name|default:"No name yet"}}
						</td>
						<td>
							{{parent.user.get_username}}
						</td>
						<td class="btn btn-light w-100 view-parent-profile" hx-get="{% url 'admins:show_profile' 'parent' parent.user.get_username %}" hx-target="#profile-body" ><span class="fa fa-eye" ></span></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</li>
		<li>
			<h6><u class="text-dark">Teacher</u></h6>
			<b>{{student.Class.teacher.full_name}}</b>
		</li>
		<li>
			<h6><u class="text-dark">Email</u></h6>
            <a href="mailto:{{student.email}}">{{student.email}}</a>
		</li>
		<li>
			<h6><u class="text-dark">Phone number</u></h6>
			<b>{{student.phone_no}}</b>
		</li>

	</ul>
	
	<div class="btn-group w-100 mt-1 mb-3" role="group" aria-label="get performance"> <button type="button"
			class="genric-btn info radius w-50 mx-2" onclick="download_pdf('P')">Download <span class="fa fa-download"></span></button> <button type="button"
			class="genric-btn info radius w-50 mx-2" onclick="print_performance()">Print <span class="lnr lnr-printer"></span></button> </div>
	<!-- Performance part -->
	<div id="performance-view" hx-get="{% url 'students:view_only_performance' student.pk %}" :hx-vals='`{ "term" : "${term}" , "year" : "${year}" }`' hx-trigger="load" >

	</div>
	<hr>
	<!-- Attendance part -->
	<div class="btn-group w-100 mt-1 mb-3" role="group" aria-label="get performance"> <button type="button"
			class="genric-btn info radius w-50 mx-2" onclick="download_pdf('A')">Download <span class="fa fa-download"></span></button>
			<button class="genric-btn info radius w-50 mx-2" onclick="print_attendance()">Print <span class="lnr lnr-printer"></span></button> </div>
	<div id="attendance-view"  hx-get="{% url 'students:view_only_attendance' student.pk %}" hx-trigger="load">

	</div>
</div>

<script>
 	
	
	function download_pdf(type) {
		if (type == "P") {
			let year = document.querySelector("#year").value;
			let term = document.querySelector("#term").value;
			window.location.href = "http://{{request.get_host}}{% url 'students:convert_performance_to_pdf' %}" + "{{student.pk}}" + "/" + year + "/" + term + "/";
		}
		else if (type == "A") {
			let start_date = document.querySelector("#start-date").value;
			let end_date =  document.querySelector("#end-date").value;
			if(start_date && end_date){
				window.location.href = "http://{{request.get_host}}{% url 'students:convert_attendance_to_pdf'  student.pk %}"+start_date+"/"+end_date+"/";
			}else{
				window.location.href = "http://{{request.get_host}}{% url 'students:convert_attendance_to_pdf'  student.pk %}";
			}
		}
	}
	function print_performance() {
		var year = document.querySelector("#year").value;
		var term = document.querySelector("#term").value;
		window.open("http://{{request.get_host}}{% url 'students:print_performance' %}" + "{{student.pk}}" + "/" + year + "/" + term + "/","_blank");
	}

	function print_attendance(){
		var start_date = document.querySelector("#start-date").value;
		var end_date =  document.querySelector("#end-date").value;
		if(start_date && end_date){
			window.open("{% url 'students:print_attendance' student.pk %}"+start_date+"/"+end_date+"/","_blank");
		}else{
			window.open("{% url 'students:print_attendance' student.pk %}","_blank");
		}
	}
	</script>
