{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container my-3" style="max-width:300px;">
	<h4>Add Student</h4>
	<form hx-post="{% url 'students:register_student' %}" hx-target="#form-status">
		{% csrf_token %}
		{{ form|crispy }}
		<div class="form-group border p-3" id="add-parent">
			<div class="form-group">
				<label for="f-parent">
					<h5>Add first parent/guardian</h5>
				</label>
				<input class="form-control" type="text" placeholder="Enter Username" id="f-parent" name="parents">
			</div>
			<div class="form-group">
				<label for="s-parent">
					<h5>Add second parent/guardian</h5>
				</label>
				<input class="form-control" type="text" placeholder="Enter Username" id="s-parent" name="parents">
			</div>
			<div id="parent-update-status"></div>
		</div>
		<h6 class="text-center">Or</h6>
		<h6 class="my-3 border-bottom border-dark text-center">Provide Username and password for parents/guardians to
			access this students</h6>
		<button class="genric-btn primary radius w-100" id="generate-parent" type="button">
			Generate automatically
		</button>
		<div class="alert alert-primary mt-2 d-none" role="alert" id="parent-alert"></div>
		{{parent_form|crispy}}
		

		<div class="my-2" id="form-status">

		</div>
		<button type="submit" class="save btn btn-success w-100">Save</button>
	</form>

</div>

<script>

	document.querySelector("#generate-parent").onclick = function () {
		let alert = document.querySelector("#parent-alert");
		alert.classList.remove("d-none")
		var student_name = document.querySelector("#id_name").value;
		student_name = student_name.replace(/\s+/g, '');
		document.querySelector("#id_username").value = (student_name + "Parent");
		document.querySelector("#id_password1").value = ("Parent1234");
		document.querySelector("#id_password2").value = ("Parent1234");
		alert.innerHTML = (' Generated Username is ' + (student_name + "Parent") + '.   Default Password = Parent1234 </div>');
	};
</script>
{% endblock %}