{% load static %}

<h4 class="text-center">All Students</h4>
<!-- Students List -->
<div class="mx-auto w-100" style="max-width:400px;">
<ul class="list-group "  id="student-info-list">
	<!-- First list item shows column header -->
	<li class="list-group-item d-flex">
		<h6 style="width:10%;">No</h6>
		<h6>Name</h6>
	</li>
	<!-- Actual first list item -->
    {% if all_students.exists %}
	{% for student in all_students %}
	<li class="list-group-item d-flex" style="border-bottom:2px ridge #53375A;">
		<input class="border-less" value="{{student.pk}}" style="display:none" readonly>
		<h6 class="my-auto " style="width:10%">{{forloop.counter}}</h6>
		<h6 class="my-auto">{{student.name}}</h6>
		<div class="w-25">
			<button class="view-info-button">View Info</button>
		</div>
	</li>
{% endfor %}
{% else %}
    <div class="border-left border-right border-danger py-3">
    <h5 class="text-center text-danger">No student in this class</h5>
    </div>
{% endif %}
</ul>
</div>


 <!-- Profile Modal -->
 <!-- Any template, this modal will be used -->
 <!-- Should be included in html file using django include tag.. -->
 <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLongTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
		 <div class="modal-content">
			 <div class="modal-header">
				 <h5 class="modal-title" id="profileModalLongTitle">
					 Student Profile
				 </h5>
				 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					 <span aria-hidden="true">
					 &times;
					 </span>
				  </button>
				 </div>
				 <div class="modal-body" id="profile-body">
	 
				 </div>
		 </div>
	</div>
</div>



	<script>
		
		
		$(".view-info-button").click(function(){
 
  		$("#profileModal").modal('show');
  		var id = $(this).parent().prev().prev().prev().val();
  		$("#profile-body").html("<div id=\"loader\" ><div class=\"d-flex flex-column \"><img src=\"{% static 'css/ajax-loader.gif' %}\" alt=\" \" class=\"mx-auto\"><small class=\"mx-auto\">Loading....</small></div></div>");
		  $.ajax({
			url:"{% url 'students:profile_page' %}"+id+"/",
			type:"GET",
			success: function(data){
				document.getElementById("loader").style.display="none";
				$("#profile-body").html(data);
			},
			failure: function(data){
				document.getElementById("loader").style.display="none";
				document.getElementById("profile-body").innerHTML="Request Failed";
		},
});

});
	</script>
