{% extends 'students/base.html' %}
{% block content %}
			<!-- beiginning of list items -->
			<div class="list-group">
					<a class="list-group-item student-list-container" href="student_form.html">
					<h6  class="student-list-link">Add new student data.</h6>
					<span class="fa fa-angle-right" ></span>
				</a>
					<a class="list-group-item student-list-container" href="attendance_page.html">
					<h6  class="student-list-link">Update student data.</h6>
					<span class="fa fa-angle-right" ></span>
				</a>
					<a class="list-group-item student-list-container" href="attendance_page.html">
					<h6  class="student-list-link">Delete student data.</h6>
					<span class="fa fa-angle-right" ></span>
				</a>
				<a class="list-group-item student-list-container" href="attendance_page.html">
					<h6  class="student-list-link">Add student performances.</h6>
					<span class="fa fa-angle-right" ></span>
				</a>
					<a class="list-group-item student-list-container"  href="attendance_page.html">
					<h6  class="student-list-link">Update Student performances</h6>
					<span class="fa fa-angle-right" ></span>
				</a>
					<a class="list-group-item student-list-container" href="attendance_page.html">
					<h6  class="student-list-link">Delete student performances</h6>
					<span class="fa fa-angle-right" ></span>
				</a>
					<a class="list-group-item student-list-container" href="attendance_page.html">
					<h6  class="student-list-link">Mark attendance</h6>
					<span class="fa fa-angle-right" ></span>
				</a>
			</div>
			<!-- end of list -->
			
		</div>
		
{% endblock %}
