{% extends 'students/base.html' %}



  <!-- ================ start banner Area ================= -->
  <section class="home-banner-area">
	  <div class="container-fluid" >
		<div class="row">
			<div class="d-flex flex-column w-100" style="height:250px; background:#2B2A2A;">
				<h1 class="text-white mx-auto mt-auto" style="text-align:center;">
					Welcome
				</h1>
				<img src="img/testimonial/t1.jpg" alt="" class="mx-auto rounded mb-1" style="max-width:50%; max-height:50%;">
      		
      		</div>
			<div class="d-flex flex-column w-100" style="height:100px; background:#474646;">
				<h3 class="text-white mx-auto my-auto" style="text-align:center;">
					David Akinfenwa
				</h3>
       
			</div>
			<div class="d-flex flex-column w-100" style="height:150px; background:#404040;">
          	   <h2 class="text-white mx-auto" style="text-align:center;">
					Teacher
				</h2>
				<h3 class="text-white mx-auto" style="text-align:center;">
					In
				</h3>
				<h3 class="mx-auto text-white" style="text-align:center;">
					Light of God Children School
				</h3>
			</div>
        
		</div>
    </div>
 </section>
  
  
  
  <section >
  	
    <div class="container-fluid" >
		<div class="row">
      	
			<div class="col-12 col-sm-12 col-md-3 col-lg-3 bg-dark mn-100" >
				<h2 style="text-align:center; color:white;">Teacher Tools</h2>
				<!-- Teacher tools list-->
					<!-- Onclick event requests data-url attribute value and applies it in div with Id main. -->
				<ul class="list-group my-3" id="toolsList">
					<li class="list-group-item tools-list" >
						<h6  class="student-list-link">View Student Information.</h6>
						<span class="badge badge-info badge-pill" >Show</span>
					</li>
					<li class="list-group-item tools-list" href="performance_page.html" data-url="https://www.google.com">
						<h6  class="student-list-link">View Student Performance.</h6>
						<span class="badge badge-warning badge-pill" >Hide</span>
					</li>
					<li class="list-group-item tools-list" href="performance_page.html" data-url="https://www.google.com">
						<h6  class="student-list-link">Edit Student Performance</h6>
						<span class="badge badge-info badge-pill" >Show</span>
					</li>
					<li class="list-group-item tools-list" href="attendance_page.html" data-url="https://www.google.com">
						<h6  class="student-list-link">Mark Student Attendance.</h6>
						<span class="badge badge-info badge-pill" >Show</span>
					</li>
					<li class="list-group-item tools-list" href="attendance_page.html" data-url="https://www.google.com">
						<h6  class="student-list-link">View Student Attendance</h6>
						<span class="badge badge-info badge-pill" >Show</span>
					</li>					
				</ul>
				<!-- end of list -->
			<!-- Recent Activities-->
				<h2 class="text-center mb-2">
					<u class="text-info">Recent Activities</u>
				</h2>
				
				<!-- Recent activities list -->
				<ul class="unordered-list">
					<li class="text-myinfo">Performance added for Joseph Paul</li>
					<li class="text-myinfo">Attendance for 12/12/19 Marked</li>
					<li class="text-myinfo">Attendance for 12/12/19 Viewed</li>
					<li class="text-myinfo">Performance for Felicia JohnBull Viewed</li>
					<li class="text-myinfo">Attendance for 2/10/19 Viewed</li>
					<li class="text-myinfo" >Performance for Joseph JohnPaul Deleted</li>
				</ul>			
			</div>
			
			<div class="col-12 col-sm-12 col-md-6 col-lg-6 d-flex flex-column" id="main">  		
				<h4 class="mx-auto">No Current Work</h4>
				<div class="m-auto d-flex flex-column"><span class="fa fa-signal mx-auto " style="font-size:40px;"></span><small>Nothing to show</small></div>
			</div>
      		
      
      <!-- Teacher information part. -->
			<div class="col-12 col-sm-12 col-md-3 col-lg-3 bg-dark">
				<div class="d-flex flex-column p-3">
					<h2 class="mx-auto mb-3"><u class="text-white">Teacher Info</u></h2>
					<div class="d-flex">
						<img class="rounded" src="img/testimonial/t1.jpg" style="width:50px; height:50px;" alt="">
						<ul class="profile-list">
							<li>
								<b>Username:</b>
								<b>Davoboss1</b>		
							</li>
							<li>
								<b>User Type: </b>
								<b>Teacher	</b>
							</li>
						</ul>
					</div>
      	
					<ul class="unordered-list profile-list">
						<li>
							<b>Full Name:</b>
							<b>Akinfenwa David</b>
						</li>
						<li>
							<b>Date of birth:</b>
							<b>4th of June 2001</b>
						</li>
						<li>
							<b>Age : </b>
							<b>18</b>
						</li>
						<li>
							<b>Bio:</b>
							<b>Bla Bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bal bla bla bla</b>
						</li>
					</ul>
					<h2 class="mx-auto my-3"><u class="text-white">School Info</u></h2>
      		
					<div class="d-flex">
						<img class="rounded" src="img/testimonial/t1.jpg" style="width:50px; height:50px;" alt="">
						<ul class="profile-list">
							<li>
								<b>School Name: </b>
								<b>Light of God Children School	</b>	
							</li>
							<li>
								<b>School Owner:</b>
								<b>David Akinfenwa	</b>     					
							</li>
      				
						</ul>
					</div>
					<ul class="unordered-list profile-list">
						<li>
							<b>School Type: </b>
							<b>Primary School</b>
						</li>
						<li>
							<b>No of Students: </b>
							<b>250</b>
						</li>
						<li>
							<b>Age: </b>
							<b>18</b>
						</li>
						<li>
							<b>Address</b>
							<b>22, Adegbemileke street, Afromedia Lagos.</b>
						</li>
					</ul>
					<h2 class="mx-auto my-3"><u class="text-white">Class Info</u></h2>
					<ul class="unordered-list profile-list">
						<li>
							<b>Class: </b>
							<b>Basic 4</b>
						</li>
						<li>
							<b>No of Students: </b>
							<b>25</b>
						</li >
						<li >
							<b>Teacher: </b>
							<b>David Akinfenwa (Davoboss1)</b>
						</li>
      			
					</ul>
					<button class="btn btn-outline-light">Logout</button>
      		
				</div>



			</div>
    
		</div>
    </div>
  </section>

 

  {% block javascript %}
  <script>
  	//Script makes navbar transparent when user scrolls down.
  	var main_nav=document.getElementById("main-nav");
  	var prevScrollpos = window.pageYOffset;
  	var px = 100;
window.onscroll = function() {
	
  var currentScrollPos = window.pageYOffset;
  if (prevScrollpos > currentScrollPos) {
   main_nav.style.opacity="1";

  } else {
   main_nav.style.opacity="0.5";
  }
  prevScrollpos = currentScrollPos;
}

  </script>
  
  <script>
  	//This script does the following.
  	//1. Creates a click event for all elements with class name tools-list
  	//2. Toogles the badge to show and hide.
  	//e.g if a list is clicked the current list clicked is switched to hide. while other list are  switched to show.
  	//3. Makes Ajax request to url in data-url attribute in html. and changes the content of the #main container to the response
  	var tools_list = document.getElementsByClassName('tools-list');
  	for(var i=0;i<tools_list.length;i++){
  		tools_list[i].onclick=function(){
  				for(var inc=0;inc<tools_list.length;inc++){ 
  				if(inc==i){
  				continue;
  			}  			tools_list[inc].childNodes[3].className="badge badge-info badge-pill";  		tools_list[inc].childNodes[3].innerHTML="Show";
  			}
  		this.childNodes[3].className="badge badge-warning badge-pill";
  		this.childNodes[3].innerHTML="Hide";
  		window.location.href="#main";
  		document.getElementById("main").innerHTML='<div class="m-auto d-flex flex-column"><div class="mx-auto progressBar"></div><small>Fetching requested items</small></div>';
  		
  		$.ajax(
  		{
  		url: this.getAttribute("data-url"),
		type: 'GET',
		success: function(data) {
document.getElementById("main").innerHTML=data;
		},
		failure: function(data) {	document.getElementById("main").innerHTML='<div class="m-auto d-flex flex-column"><span class="fa fa-signal mx-auto " style="font-size:40px;"></span><small>Request Failed</small></div>';
		 },
		  });
  	}
  	}
  	
  	$(".view-info-button").click(function(){
  		$("#profileModal").modal('show');
  		var id = $(this).parent().prev().prev().val();
		  $.ajax({
			url:"profile_page.html",
			type:"GET",
			success: function(data){
				document.getElementById("loader").style.display="none";
				document.getElementById("profile-body").innerHTML=data;
			},
			failure: function(data){
				document.getElementById("loader").style.display="none";
				document.getElementById("profile-body").innerHTML="Request Failed";
		},
});
  	});
  	
  </script>
  {% endblock %}
 
 
</body>

</html>
