{% load crispy_forms_tags %}
 <form method="POST" class="post-form w-100 mx-auto" style="max-width:300px;" id="update-form{{student.pk}}">
    {% csrf_token %}
        {{ form|crispy}}
        <div class="form-group border p-3">
      	<div class="form-group">
      		<label for="f-parent"><h5>Add first parent/guardian</h5></label>
      		<input class="form-control" type="text" placeholder="Enter Username" id="f-parent" name="fparent" value="{{fparent}}">
      	</div>
      		<div class="form-group">
      		<label for="s-parent"><h5>Add second parent/guardian</h5></label>
			<input class="form-control" type="text" placeholder="Enter Username" id="s-parent" name="sparent" value="{{sparent}}">
      	</div>
      	<div id="parent-update-status"></div>
      </div>
         </form>
