{% load custom_filter %}
<div x-data="{year: '{{current_term.year}}', term: '{{current_term.term}}'}">
	<div class="d-flex flex-column mt-2">
				<div class="d-flex">
				<h6 class="w-50 ">Year</h6> <h6 class="w-50">Term</h6>
				</div>		
					<div class="d-flex my-2 mx-1" >
				<select class="form-control" name="year" id="year" x-model="year">
					{% for term in terms %}
					{% ifchanged %}
					<option value="{{term.year}}" {% if current_term.year == term.year %}selected{% endif %}>{{term.session}}</option>	
					{% endifchanged %}
					{% endfor %}
					</select>
					<select class="ml-1 form-control" name="term" id="term" x-model="term">
				
						<option {% if current_term.term == "1st Term"%}selected{% endif %}>1st Term</option>
						<option {% if current_term.term == "2nd Term"%}selected{% endif %}>2nd Term</option>
						<option {% if current_term.term == "3rd Term"%}selected{% endif %}>3rd Term</option>
					</select>
					<button class=" ml-2 btn btn-dark " hx-get="{% url 'students:view_performance' class_pk %}" hx-target="#performance-container{{class_pk}}" :hx-vals='`{ "page" : "1" , "term" : "${term}" , "year" : "${year}" }`' id="fetch-termly-performance"><span class="fa fa-repeat"></span></button>
				</div>
				<div id="termly-performance-status">
					
				</div>
			</div>
<div class="accordion" id="main-accordion">
<!-- Performance List -->
 <div class="list-group spaced-list" id="performance-container{{class_pk}}" hx-get="{% url 'students:view_performance' class_pk %}" hx-trigger="load" :hx-vals='`{ "page" : "1" , "term" : "${term}" , "year" : "${year}" }`'>
				  	 			 
	</div>
</div>	
</div>