<div id="attendance-div{{student.pk}}" x-data="{start_date: '{{start_date}}', end_date: '{{end_date}}'}">
    <h5 class="text-center border-bottom mb-3 pb-2">{{student.name}}</h5>

    <!-- Input for particular date container-->
    <h4 class="mt-2 text-center">Show Attendance for :</h4>
    <div class="d-flex my-3" >
        <div class="d-flex date-container ml-0" style="width:40%;">
            <span class="fa fa-calendar vcenter ml-2 w-25" > 
            </span>
                <input class="date-input choose-date w-75" type="date" id="start-date" x-model="start_date">
        </div>
        <div class="d-flex date-container ml-2" style="width:40%;">
            <span class="fa fa-calendar vcenter ml-2 w-25" > 
            </span>
                <input class="date-input choose-date w-75" type="date" id="end-date" x-model="end_date">
        </div>
        <div class="d-flex mx-2" style="width:20%;">
            <button class="btn btn-dark radius"  hx-get="{% url 'students:view_only_attendance' student.pk %}" hx-target="#attendance-div{{student.pk}}" hx-loading-target="#attendance-status{{student.pk}}"
            :hx-vals='`{ "start_date" : "${start_date}" , "end_date" : "${end_date}" }`'>
                <span class="fa fa-search" ></span>
            </button>
        </div>
    </div>
    <!-- Attendance view table -->
    <div id="attendance-status{{student.pk}}"></div>
    <table class="table attendance-table table-hover">
        <!-- Table head -->
        <thead class="thead-light">
            <th style="width:15%;">No</th>
            <th>Date</th>
            <th>Status</th>
        </thead>

        <!-- Table body -->
        <tbody >
            <!-- Table row -->
            <!-- badge-success should be used for a student that is present -->
            <!-- badge-danger should be used for a student that is absent -->
            <!-- First row 
                Shows present example
            -->
            {% for each_attendance in attendance %}
                {% if student in each_attendance.present_students.all %}
                    <tr >
                        <td>{{forloop.counter}}</td>
                        <td>
                            {{each_attendance.date|date:"l jS, F Y"}} </td>
                        <td><span class="badge badge-success">Present</span></td></tr>
                {% else %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{each_attendance.date|date:"l jS, F Y"}}</td><td><span class="badge badge-danger">Absent</span></td>
                    </tr>
                {% endif %}
            {% endfor %}


        </tbody>

    </table>
    {% if not attendance.object_list %}
        <div class="alert alert-info text-center">
            No attendance for this student was recorded.
        </div>
    {% endif %}

    <!-- pagination -->
    <div class="row py-3 border-top border-bottom" >
        <div class="col-4 d-flex" style="padding:0; margin:0; height:40px;" >
            {% if attendance.has_previous %}
                <button class="genric-btn primary mx-auto attendance-pagination-handler" data-page="{{attendance.previous_page_number}}" hx-get="{% url 'students:view_only_attendance' student.pk %}" hx-target="#attendance-div{{student.pk}}" hx-loading-target="#attendance-status{{student.pk}}"
                :hx-vals='start_date && end_date ? `{ "start_date" : "${start_date}" , "end_date" : "${end_date}" , "attendance_page" : "{{attendance.previous_page_number}}" }` : `{ "attendance_page" : "{{attendance.previous.next_page_number}}" }`'>
                    <span class="fa fa-angle-left mr-1"></span>Prev </button>
            {% endif %}
        </div>
        <div class="col-4 d-flex" style="padding:0; margin:0; height:40px;">
            <select class="form-control mx-auto attendance-pagination-handler" style="max-width: 100px;" name="attendance_page" hx-get="{% url 'students:view_only_attendance' student.pk %}" hx-target="#attendance-div{{student.pk}}" hx-loading-target="#attendance-status{{student.pk}}"
            :hx-vals='start_date && end_date && `{ "start_date" : "${start_date}" , "end_date" : "${end_date}" }`'>
                {% for page_no in attendance.paginator.page_range %}
                    <option {% if page_no == attendance.number %}selected{% endif %}>{{page_no}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-4 d-flex" style="padding:0; margin:0; height:40px;" >
            {% if attendance.has_next %}
                <button class="genric-btn primary mx-auto attendance-pagination-handler " hx-get="{% url 'students:view_only_attendance' student.pk %}" hx-target="#attendance-div{{student.pk}}" hx-loading-target="#attendance-status{{student.pk}}"
                :hx-vals='start_date && end_date ? `{ "start_date" : "${start_date}" , "end_date" : "${end_date}" , "attendance_page" : "{{attendance.next_page_number}}" }` : `{ "attendance_page" : "{{attendance.next_page_number}}" }`'>Next <span class="fa fa-angle-right ml-1"></span></button>
            {% endif %}
        </div>
    </div>
</div>

