{% extends 'admins/school_owner_admin_page.html' %}
{% block style %}
<style>
    #about-container{
        margin-top: 7%;
        margin-bottom: 5%;
    }
    #about-container *{
        text-align: center;
    }
</style>
{% endblock %}
{% block content %}
<!-- ================ start banner Area ================= -->
<section class="home-banner-area">
	
	<div class="container-fluid">
		<div class="row">
			<div class="main-header" >
				<div>
					<h1 class="text-white text-center" >
					Schooled about page
				    </h1>
                    <h5 class="text-white text-center">
                        What this software is all about
                    </h5>
				</div>
				
			</div>
			
		</div>
	</div>
</section>
<!-- ================ End banner Area ================= -->

<!-- ================ Start project introduction Area ================= -->
<section>
	<div class="container" id="about-container" >
        <div class="row">
            <div class="col-12 col-md-6">
                <h3>THE PROBLEM</h3>
                <p>
                    We founded Schooled due to the poor ,error prone and cost ineffectiveness of recording and  sharing information in school systems mostly in Nigeria. As former members of the primary and secondary school settings, we have experienced first hand the ineffectiveness to access and record information and we are set to make a change.
                </p>
            </div>
            <div class="col-12 col-md-6">
                <h3>THE SOLUTION</h3>
                <p>
                    In a fast pacing century like ours in which efficiency and speed have become the norms of the day, it is only right we leverage on this to better the school system here in Nigeria. Schooled is a web based application which aims to simplify the major processes( eventually all ) in running a school.
                    We plan on making the software free so as to encourage a wide spread adoption of the software. We plan on generating funds through donations by well meaning individuals/cooperations ( visioneers ) and other services including consultation(tech based) and advertising.
                </p>
            </div>
            <div class="col-12 col-md-6">
                <h3>OUR SUCCESS</h3>
                <p>
                    We have successfully launched the first version of the software which is not yet completed to feature all we envisioned for the software but is a stepping stone forward on making the software better.
                    We have partnered with other educationalist and software developers so as to make sure there are continuous flows of great ideas and also the right minds needed for the implementation. This is very important to us, because together we feel we can achieve more.
                </p>
            </div>
            <div class="col-12 col-md-6">
                <h3>THE FUTURE</h3>
                <p>
                    While others may say the future is uncertain, we believe that the future is shaped by the little things we do today, and this is a major driving force in our values and decision. We plan on making it more value and customer oriented. We aim to make sure quality education is gotten by any and all who wishes by making our members to get access to technology ,grants(financially ) and consultation to make sure education is gotten at it's best. We know this would not be a piece of cake and we are going to need all the support we can get and we encourage it. Thank you.
                </p>
            </div>     
        </div>
        
	</div>

</section>
<!-- End project introduction area  -->
{% endblock %}
{% block script %}
{% endblock %}
