{% extends "admins/school_owner_admin_page.html" %}

{% load crispy_forms_tags %}
{% block content %}
<!-- ================ start banner Area ================= -->
<section class="home-banner-area">
    <!-- Header area -->
    <div class="container-fluid">
        <div class="row">
            <div class="main-header">
                <div><h2 class="text-white text-center">Schooled password reset page</h2></div>            
            </div>

        </div>
    </div>

</section>
<!-- ================ End banner Area ================= -->
<div class="container my-3 d-flex flex-column" style="max-width:350px;" id="main-cont">
    {% if passwordform %}
    <form method="post" action="{% url 'accounts:reset_password' %}">
        {% csrf_token %}
        <label>
            <h4>Username</h4>
        </label>
        <input class="form-control" type="text" name="username" value="{{username}}" readonly>
        <input type="hidden" name="v-code" value="{{v_code}}">
        {{passwordform|crispy}}
        <button type="submit" class="genric-btn primary w-100 radius">Submit</button>
    </form>
    {% else %}
    <div class="w-100 mx-auto" id="username-cont">
        <div class="form-group">
            <label for="username-input">
                <h4>Enter username</h4>
            </label>
            <input id="username-input" type="text" name="username" class="form-control" placeholder="Username" required>
            <div class="">
            </div>
        </div>
        <button type="button" class="genric-btn primary radius w-100" id="username-form-btn">Send code to mail</button>
    </div>

    <form class="w-100 mx-auto my-3" style="display: none;" id="v-code-form">
        <div class="alert alert-success" role="alert">
            Your verification code has been sent to <strong class="font-weight-bold"
                id="email-view">davidakinfenwa2@gmail.com</strong>
        </div>
        {% csrf_token %}
        <div class="form-group">
            <label for="username-view">
                <h4>Username</h4>
            </label>
            <input class="form-control mb-3" id="username-view" type="text" name="username" readonly>
        </div>
        <div class="form-group">
            <label for="v-code-input">
                <h4>Enter verification code</h4>
            </label>
            <input id="v-code-input" type="number" class="form-control" name="v-code" placeholder="000000">
            <div class="invalid-feedback">
                Input not six digits.
            </div>
        </div>
        <div class="my-3" id="v-code-status"></div>
        <input type="submit" class="genric-btn info radius w-100" id="v-code-submit-btn">
    </form>
    {% endif %}
</div>


{% endblock %}
{% block script %}
<script>
    //Username form event handler
    $("#username-form-btn").click(function (e) {
        e.preventDefault();

        var username_input = $("#username-input");
        var feedback = username_input.next();
        var btn = $(this);
        //Check if username input is empty and add error message
        if (!username_input.val().trim()) {
            feedback.addClass("invalid-feedback");
            feedback.html("Input required");
            username_input.addClass("is-invalid");
            return;
        }
        //Remove error message
        username_input.removeClass("is-invalid");
        feedback.removeClass("invalid-feedback");
        feedback.html("");
        btn.html("Sending code to mail...");
        
        //Ajax request
        $.ajax({
            url: "{% url 'accounts:reset_password' %}",
            type: "Get",
            timeout: 20000,
            data: { username: username_input.val() },
            success: function (data) {

                $("#email-view").text(data);
                $("#username-view").val(username_input.val());
                $("#username-cont").slideUp(500, function () { $("#username-cont").remove(); $("#v-code-form").slideDown(500); })


            },
            error: function (res, textStatus, errorThrown) {
                btn.html("Send code to mail");
                feedback.addClass("invalid-feedback");
                username_input.addClass("is-invalid");
                if (res.responseText) {
                    feedback.html(res.responseText);
                } else {
                    feedback.html("Request failed");
                }
            }
        });
    });
    //Verication code form event handler
    $("#v-code-form").submit(function (e) {
        e.preventDefault();
        //Get submit button remove "danger" class incase it exists and change text
        var btn = $("#v-code-submit-btn");
        btn.removeClass("danger");
        btn.val("Verifying code...");
        //Add loader
        $("#v-code-status").html(write_loader());
        //Get form object
        var form = $(this);
        //Ajax request
        $.ajax({
            url: "{% url 'accounts:reset_password' %}",
            type: "Post",
            timeout: 15000,
            data: form.serialize(),
            success: function (data) {
                //Change html of main-cont
                $("#main-cont").html(data);
            },
            error: function (res, textStatus, errorThrown) {
                btn.addClass("danger");
                btn.val("Submit");
                //If request had a response from server write the response else write a generic message
                if (res.responseText) {
                    $("#v-code-status").html(write_alert(res.responseText, "danger"));
                } else {
                    $("#v-code-status").html(write_alert("Something went wrong. Request failed", "danger"));
                }
            }
        });
    });
    //Verfication code input field event handler
    $("#v-code-input").keyup(function (e) {
        //Get jquery object of input object
        var input = $(this);
        //Remove validation classes (Incase they were already added).
        input.removeClass("is-invalid");
        input.removeClass("is-valid");
        //Check if input does not contain six characters
        if (input.val().length != 6) {
            //Add validation class
            input.addClass("is-invalid");
            //Disable submit button
            $("#v-code-submit-btn").attr("disabled", true);
        } else {
            //Add validation class
            input.addClass("is-valid");
            //Enable submit button
            $("#v-code-submit-btn").attr("disabled", false);
        }
    });

</script>
{% endblock %}