{% load crispy_forms_tags %}
{# Type variable is used to identify what type of page was requested #}
{% if type == "students:view_performance" %}
{# if type is view_performance add an add session container above class list container #}
<button class="genric-btn primary my-3 mx-auto w-100" type="button" data-toggle="collapse" data-target="#newSession"
    aria-expanded="false" aria-controls="newSession">
    Select Session
</button>
<div class="collapse mb-3 mx-auto w-100" id="newSession">
    <div class="card card-body" x-data="{year: '', term: ''}">
        <div class="jumbotron bg-light p-0">
            <table class="table table-bordered text-dark">
                <thead>
                    <th scope="col">Current Session</th>
                    <th scope="col">Current Term</th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {{available_terms.first.session}}
                        </td>
                        <td>
                            {{available_terms.first.term}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <strong>If current sesssion and term at your school is not the same with the above current session and term.
                Please select new session</strong>
        </div>
        <div class="d-flex">
            <h4 class="w-50">Year</h4>
            <h4 class="w-50 pl-3">Term</h4>
        </div>
        <div class="d-flex mt-2">
            <div class="w-50 pr-3">
                <select class="form-control" id="session-years" x-init="year = $el.value" @change="year = $el.value">
                    {% for term in available_terms %}
                    {% ifchanged %}
                    <option value="{{term.year}}">{{term.session}}</option>

                    {% endifchanged %}
                    {% endfor %}
                    <option >-----------</option>
                    
                </select>
            </div>
            <div class="w-50 pl-3">
                <select class="form-control" id="session-term" x-init="term = $el.value"  @change="term = $el.value">
                    <option> 1st Term
                    </option>
                    <option> 2nd Term
                    </option>
                    <option> 3rd Term
                    </option>
                </select>
            </div>
        </div>
        <div class="my-2" id="term-status"></div>
        <button class="genric-btn primary mt-2" id="add-session" :hx-post="'{% url 'admins:add_sessions' %}'+ sch_value + '/'" :hx-vals='`{ "csrfmiddlewaretoken": "{{csrf_token}}", "year": "${year}", "term" : "${term}" }`' hx-target="#term-status" >Select Current Session</button>


    </div>
</div>
{% endif %}
{% if type == "admins:manage_teachers" %}
{# if type is manage_teachers add an add teacher container above class list container #}
<div class="d-flex flex-column my-3">
    <div class="d-flex">
        <a href="#add-teachers" data-toggle="collapse" class="genric-btn info circle w-75 mx-auto text-center"
            style="font-size:15px;">Add Teachers<span class="lnr lnr-arrow-down ml-3"></span></a>

    </div>
    <div class="collapse card mt-3" id="add-teachers">
        <form class="w-100 my-1 mx-auto" style="max-width:300px;"
            hx-post="{% url 'teachers:teacher_create' %}" hx-target="#form-status" >
            {% csrf_token %}
            <input type="hidden" name="sch_pk" value="{{school.pk}}">
            <h4>User Information</h4>
            {{ userform | crispy }}
            {{userform.errors}}
            <hr>
            <div class="form-group">
                <label for="class">Class <span class="asteriskField">*</span></label>
                <input class="form-control" id="class" name="class" type="text" required>
            </div>
            <hr>
            <div class="d-flex">
                <button type="submit" class="genric-btn success w-75 mx-auto text-center">Add teacher</button>

            </div>
        </form>
        <div id="form-status" class="my-2">

        </div>
    </div>

</div>
{% endif %}
<!-- List of all classes area-->



<div class="accordion mx-auto w-100" id="itemAccordion">
    <ul class="list-group" x-data="{ showEdit: false }">
        <li class="list-group-item d-flex align-items-center text-dark pr-0">
            <span class="w-25">Class</span>
            <b class="dark-red w-50 text-center">No of students</b>
            <span class="w-25 text-right mr-2"><span :class="`btn btn-light fa fa-${showEdit ? 'close' : 'edit'}`" @click="showEdit = !showEdit"
                    id="edit-class"></span></span>
        </li>
        {% if classes.exists %}
        {% for class in classes %}
        <li class="list-group-item list-group-item-action class-list" :data-toggle="!showEdit && 'collapse'"
            data-target="#class-collapse{{class.pk}}" hx-target="#class-collapse{{class.pk}}" hx-get="{{url}}{{class.pk}}/" hx-trigger="click once">
            <div x-show="!showEdit" class="displayFlex align-items-center">
                <strong class="w-25">{{class.class_name}}</strong>
                <span class="w-50 text-center"><span
                        class="badge dark-red-border badge-danger badge-pill">{{class.student_set.all.count}}</span></span>
                <span class="w-25 text-right"><span class="fa fa-angle-down drop-icon"></span></span>

            </div>
            {% with i=forloop.counter %}
            <div class="displayFlex align-items-center" x-show="showEdit" x-data="{ class_value{{i}} : '' }">
                <input class="form-control w-25" x-ref="class_input" @blur="htmx.process($refs.update_class_btn{{i}})"
                    x-init="class_value{{i}} = '{{class.class_name}}'" x-model="class_value{{i}}"
                    value="class_value{{i}}">
                <span class="w-50 text-center"><span
                        class="badge dark-red-border badge-danger badge-pill">{{class.student_set.all.count}}</span></span>
                <span class="w-25 text-right">
                    <span class="badge badge-success badge-pill" id="edit-class-btn"
                        hx-post="{% url 'teachers:update_class' %}" hx-target="#none"
                        x-data="{statusIcon{{i}}: 'fa-check'}"
                        @htmx:before-request.camel="statusIcon{{i}}='fa-spinner fa-spin'"
                        @htmx:after-request.camel="statusIcon{{i}}='fa-check'" x-ref="update_class_btn{{i}}"
                        :hx-vals='`{ "csrfmiddlewaretoken" : "{{csrf_token}}", "class_pk" : "{{class.pk}}", "class_name" : "${class_value{{i}}}" }`'>
                        <span :class="`fa ${statusIcon{{i}}}`"></span>
                    </span>
                </span>

            </div>
            {% endwith %}
        </li>

        <!-- li toggles this container -->
        <!-- Collapse Container -->
        {# Collapse containers are identified by appending class primary key to id #}
        <div class="collapse" id="class-collapse{{class.pk}}" data-parent="#itemAccordion" style="margin:0;padding:0;">
            <div class="card card-body"></div>
        </div>
        {% endfor %}
        {% else %}
        <div class="alert alert-warning">
            <h6>Sorry, seems like you haven't added any class.</h6>
            <hr>
            <small>Go to manage teachers to add a teacher and a class.</small>
        </div>
        {% endif %}
    </ul>
</div>

{% if type == "view_performance" %}
<script>
    //Create next 5 years in session select element
    for (var i = -2; i <= 2; i++) {
        let option = document.createElement("option");
        let year = new Date().getFullYear() - 1;
        let session_select = document.getElementById("session-years");

        option.appendChild(document.createTextNode(year + i + "/" + (year + i + 1)));
        option.value = year + i;
        session_select.appendChild(option);
    }
</script>
{% endif %}
<script>

    function add_class(value) {
        document.getElementById("class").value = value;
        window.location.href = "#add-teachers";
    }

</script>