{% load crispy_forms_tags %}
{% load custom_filter %}
<!-- Add Teacher or parents Button -->
<div class="d-flex flex-column">
    <!-- List of all teachers or parents list Group -->
    {% if type == "Teacher" %}
    <div class="list-group spaced-list">
        <a data-toggle="collapse" href="#collapse-{{teacher.pk}}"
            class="list-group-item list-group-item-action text-center">{{teacher.full_name|default:teacher.user.username}}</a>
        <!-- Collapse of button group for teacher or parents actions -->
        <div class="collapse" id="collapse-{{teacher.pk}}">
            <div class="d-flex">
                <button type="button" class="genric-btn info radius w-50 mr-2" data-toggle="collapse"
                    data-target="#Profile{{teacher.pk}}">
                    View Info
                </button>
                <button type="button" class="genric-btn danger radius w-50 ml-2" data-toggle="collapse"
                    data-target="#delete-{{teacher.pk}}">
                    Delete
                </button>
            </div>
            <!-- End of button group collapse -->
            <!-- Start of accordion-->
            <div class="accordion" id="manage-teacher-accordion-{{teacher.pk}}">
                <!-- Start of view teacher or parents profile collapse -->
                <div class="collapse my-3" id="Profile{{teacher.pk}}" data-parent="#manage-teacher-accordion-{{teacher.pk}}">
                    <!-- Card that shows profile -->
                    <div class="card">
                        <!-- Profile Image -->
                        <img class="card-img-top mx-auto" src="{{teacher.user.profile_picture.url}}" alt=""
                            style="max-height:50%; max-width:50%;">
                        <!-- Card body -->
                        <div class="card-body">
                            <!-- Profile Info -->
                            <h6><u class="text-dark">Full Name</u></h6>
                            <b class="dark-red">{{teacher.full_name}}</b>
                            <h6><u class="text-dark">Username</u></h6>
                            <b class="dark-red">{{teacher.user.get_username}}</b>
                            <h6><u class="text-dark">Address</u></h6>
                            <b class="dark-red">{{teacher.address}}</b>
                            <h6><u class="text-dark">Class teacher of</u></h6>
                            <b class="dark-red">{{teacher.teacher_class.class_name }}</b>
                            <h6><u class="text-dark">Email</u></h6>
                            <a href="mailto:{{teacher.user.email}}" class="dark-red">{{teacher.user.email}}</a>
                            <h6><u class="text-dark">Phone number</u></h6>
                            <b class="dark-red">{{teacher.phone_no}}</b>
                            <!-- End of profile info -->
                        </div>
                        <!-- End of card body-->
                    </div>
                    <!-- End of card -->
                </div>
                <!-- End of view teacher or parents profile collapse -->
                
                <!-- Start of delete teacher or parents collapse -->
                <div class="collapse border border-dark rounded my-3 p-3" id="delete-{{teacher.pk}}"
                    data-parent="#manage-teacher-accordion-{{teacher.pk}}">
                    <b class="dark-red">Are you sure you want to delete this {{type}} ?</b>
                    <div class="d-flex">
                        <button class="btn btn-danger mr-3 delete-teacher-btn" type="button"
                            data-id="{{teacher.pk}}">Yes</button>
                        <button class="btn btn-success ml-3" type="button" data-toggle="collapse"
                            data-target="#delete-{{teacher.pk}}">No</button>
                    </div>
                </div>
                <!-- End of delete container -->
            </div>
            <div id="update-status-{{teacher.pk}}" class="my-2">

            </div>
            <!-- End of accordion -->
        </div>
        <!-- End of  Collapse of button group for teacher actions-->

    </div>
    <!-- End of List group -->


    {% elif type == "Parent" %}
    <H3 class="text-center">Students</H3>
    <div class="list-group spaced-list">
        {% if students.object_list.exists %}
        {% for student in students %}
        <a data-toggle="collapse" href="#student-collapse{{student.pk}}"
            class="list-group-item list-group-item-action text-center">{{student.name}}</a>
        <!-- Collapse of button group for teacher or parents actions -->
        <div class="collapse" id="student-collapse{{student.pk}}">
            <h4 class="text-center mb-3">Parent</h4>
            {% for parent in student.parents.all %}
            <div class="d-flex my-2">
                <button type="button" class="w-100 btn btn-dark" data-toggle="collapse"
                    data-target="#parentsProfile{{parent.pk}}">
                    {{parent.full_name|default:"No name yet"}}
                </button>

            </div>
            <!-- End of button group collapse -->
            <!-- Start of view teacher or parents profile collapse -->
            <div class="collapse my-3" id="parentsProfile{{parent.pk}}">
                <!-- Card that shows profile -->
                <div class="card">
                    <!-- Profile Image -->
                    <img class="card-img-top mx-auto" src="{{parent.user.profile_picture.url}}"
                        alt="Card image cap" style="max-height:50%; max-width:50%;">
                    <!-- Card body -->
                    <div class="card-body">
                        <!-- Profile Info -->
                        <h6><u class="text-dark">Full Name</u></h6>
                        <b class="dark-red">{{parent.full_name|default:"Not set yet"}}</b>
                        <h6><u class="text-dark">Username</u></h6>
                        <b class="dark-red">{{parent.user.get_username}}</b>
                        <h6><u class="text-dark">Address</u></h6>
                        <b class="dark-red">{{parent.address|default:"Not set yet"}}</b>
                        <h6><u class="text-dark">Email</u></h6>
                        <b class="dark-red">{{parent.user.email|default:"Not set yet"}}</b>
                        <h6><u class="text-dark">Phone number</u></h6>
                        <b class="dark-red">{{parent.phone_no|default:"Not set yet"}}</b>
                        <h6><u class="text-dark">Children in your school</u></h6>
                        <table class="table my-3">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Class</th>
                                    <th scope="col">Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for child in parent|get_children:student.Class.school.pk %}
                                <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <td>{{child.Class.class_name}}</td>

                                    <td>{{child.name}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <!-- End of profile info -->
                    </div>
                    <!-- End of card body-->
                </div>
                <!-- End of card -->
            </div>
            <!-- End of view teacher or parents profile collapse -->
            {% endfor %}
            <!-- End of accordion -->

            <!-- End of  Collapse of button group for teacher actions-->
        </div>
        {% endfor %}
        {% else %}
    <div class="border-left border-right border-danger py-3">
    <h5 class="text-center text-danger">No student in this class</h5>
    </div>
            
        {% endif %}

        <!-- pagination -->
    </div>
    <!-- End of List group -->
    <!-- pagination -->
    <div class="row py-3 border-top border-bottom">
        <div class="col-4 d-flex" style="padding:0; margin:0; height:40px;">
            {% if students.has_previous %}
            <button class="genric-btn primary mx-auto students-pagination-handler"
                data-page="{{students.previous_page_number}}">
                <span class="fa fa-angle-left mr-1"></span>Prev </button>
            {% endif %}
        </div>
        <div class="col-4 d-flex" style="padding:0; margin:0; height:40px;">
            <select class="form-control mx-auto students-pagination-handler" style="max-width: 100px;">
                {% for page_no in students.paginator.page_range %}
                <option {% if page_no == students.number %}selected{% endif %}>{{page_no}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-4 d-flex" style="padding:0; margin:0; height:40px;">
            {% if students.has_next %}
            <button class="genric-btn primary mx-auto students-pagination-handler "
                data-page="{{students.next_page_number}}">Next <span class="fa fa-angle-right ml-1"></span></button>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>
<script>
    {% if type == "Parent" %}
    //Pagination event handlers
    $("button.students-pagination-handler").click(function () {
        var page_no = $(this).attr("data-page");
        fetch_students(page_no, this);
    });

    $("select.students-pagination-handler").change(function () {
        var page_no = $(this).val();
        fetch_students(page_no, this);
    });
    //Function fetches students by page
    function fetch_students(page_no, elem) {
        var body = $(elem).parent().parent().parent().parent();
        body.html('<div class="mx-auto my-3 progressBar"></div>');
        $.ajax({
            url: "{% url 'admins:manage_parents' class_pk %}",
            data: {
                page: page_no,
            },
            success: function (data) {

                body.html(data);
            },
            error: function (req, status, error) {
                body.html('<div class="alert alert-danger alert-dismissible fade show" role="alert" > <strong>Error!</strong> Something went wrong. Attendance was not fetched. <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button> </div>');
            }
        });
    }

    {% else %}
        //Delete teacher event handler
        $(".delete-teacher-btn").click(function () {
        var status = $("#update-status-{{teacher.pk}}");

            status.html('<div class="mx-auto progressBar"></div>');
            $.ajax({
                url: "{% url 'teachers:teacher_delete' %}",
                type: "POST",
                data: { csrfmiddlewaretoken: "{{csrf_token}}", pk: $(this).attr("data-id"), },
                success: function (data) {
                    status.html('<div class="alert alert-danger alert-dismissible fade show" role="alert"> <strong>Success..</strong>' + data + '<button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button> </div>');

                },
                error: function (data) {

                    status.html('<div class="alert alert-danger alert-dismissible fade show" role="alert"> <strong>Success..</strong> Request Failed.<button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button> </div>');
                }
            });
        });
    {% endif %}				
</script>
