{% load tz %}
<div class="mx-auto w-100" id="notif">
	<div class="w-100 border d-flex p-3">
		<h5 class="mr-auto">Notifications</h5> <span
			class="badge badge-danger badge-pill text-center my-auto">{{total_no}}</span>
	</div>
    {% if activity_log.object_list.exists %}
	{% for activity in activity_log %}
	<blockquote class="generic-blockquote mt-3" style="background-color:#f2f2f2;">
		<h6>Date : {{activity.Activity_date_and_time|localtime|date:"N j,Y"}}</h6>
		<hr>
		<h6>Time : {{activity.Activity_date_and_time|localtime|date:"P"}}</h6>
		<hr>
		<h6>Class : {{activity.Class.class_name}}</h6>
		<hr>
		<b class="text-dark">{{activity.Activity_info}}</b>
	</blockquote>
    {% endfor %}
    {% else %}
        <div class="alert alert-info mt-2" >
            <h6 class="text-center">You currently have no notifications.</h6>
        </div>
    {% endif %}
</div>
<div id="notif-status" class="my-3"></div>
<div class="d-flex">
	<button class="genric-btn info mx-auto circle w-100 mt-2" id="load-more-btn" data-page-no="2"
		style="max-width:300px;" hx-get="{% url 'admins:notifications' school.pk %}" 
		x-data="{page_no: 2, show_btn: true}" 
		hx-target="#notif" 
		hx-loading-target="#notif-status" hx-error-target="#notif-status" 
		@click="$event.target.disabled = true;" 
		@htmx:after-on-load.camel="if($event.detail.xhr.responseText != 'Empty')
		{ page_no+=1; $event.target.disabled = false;} 
		else {
			show_btn = false
		}" 
		x-show="show_btn"
		hx-swap="beforeend"
		:hx-vals='`{ "page": "${page_no}" }`'> Load more</button>

</div>
<script>
	document.querySelector("#unviewed-notifications-count").textContent = "0";
	</script>
