{% load crispy_forms_tags %}
<form :hx-post="'{% url 'admins:school_profile' %}'+ sch_value + '/'" hx-target="#status" class="w-100 mx-auto post-form"
    style="max-width:300px;">
    {% csrf_token %}
    {% if type == "admin" %}
    {{userform|crispy}}
    <div class="form-group">
        <label for="customFile">Profile picture</label>
        <div class="custom-file"> <input type="file" class="custom-file-input" name="user-profile-picture"
                id="customFile" onchange="document.getElementById('file-label').innerHTML='File selected sucessfully';"
                accept="image/*"> <label class="custom-file-label" for="customFile" id="file-label">Choose file</label>
        </div>
    </div>

    <button type="button" class="genric-btn primary w-100 update-info"
        :hx-get="'{% url 'admins:school_profile' %}'+ sch_value + '/'" hx-target="#update-modal-body"
        hx-vals='{"type" : "password"}'>
        Change Password
    </button>
    {% endif %}
    <input name="formtype" value="{{type}}" type="hidden">
    {{ form|crispy}}
    {% if type == "school" %}
    <div class="form-group">
        <label for="sch-logo">School Logo</label>
        <input name="sch-logo" accept="image/*" type="file" class="form-control-file" id="sch-logo">
    </div>
    {% endif %}
    <div class="my-3" id="status"></div>

    <button class="w-100 genric-btn success radius" id="updateButton">Update</button>
</form>
<script>

    {% if type == "password" %}
    //Redirect after 2s on successful password change 
    document.querySelector(".post-form").addEventListener("htmx:afterRequest", function (event) {
        detail = event.detail;
        if (detail.successful) {
            document.querySelector("#status").innerHTML = (write_alert("Password has been changed successfully. You will be redirected to login page soon."));
            window.setTimeout(function () {
                window.location.href = "{% url 'accounts:login' %}";
            }, 2000);
        }
    });
    {% endif %}

</script>